# Jekyll

_posts/today.md
_posts/yesterday.md

_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# Ruby / Bundler
Gemfile.lock
.bundle/
vendor/

# OS / Editor junk
.DS_Store
Thumbs.db
*.swp
*.swo
*.bak
*.tmp

# Local backup files
*.backup
tmp/

