---
---
<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title | default: site.title }}</title>
    {%- seo -%}
  
    {% comment %}
      <!-- {| include google-analytics.html |} -->
    {% endcomment %}

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-DJPJZJM9N4"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-DJPJZJM9N4');
    </script>


    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/custom.css' | relative_url }}">
    
    <!--
    <link rel="stylesheet" href="{{ '/assets/css/cal-gauge.css' | relative_url }}">
    <script defer src="{{ '/assets/js/cal-gauge.js' | relative_url }}"></script>
    -->

    <link rel="stylesheet" href="{{ '/assets/css/cal-bar.css' | relative_url }}">

    {% include head-custom.html %}

  </head>
  <body>
    <section class="page-header">

      <h1 class="project-name">
        <a href="{{ '/' | relative_url }}" class="project-name__link" aria-label="Home">
          {{ site.title | default: site.github.repository_name }}
        </a>
      </h1>

      <!--
      {% if site.description %}
      <h2 class="project-tagline">{{ site.description }}</h2>
      {% endif %}
      -->
    </section>

    <section class="main-content">
      {{ content }}
    </section>
  </body>
</html>

